<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <title>YOUNG-DEMO</title>
 <!--<script type="text/javascript" src="/js/util/jquery.js"></script>-->
 <script type="text/javascript"   th:src="@{/js/util/jquery.js}"></script>
 <script type="text/javascript"   th:src="@{/js/util/jquery.min.js}"></script>
 <script type="text/javascript"   th:src="@{/js/util/jquery.qrcode.min.js}"></script>
</head>
<body>
<div class="pc_qr_code">
 <input type="hidden" id="uuid" th:value="${uuid }"/>
 <input type="hidden" id="http" th:value="${http }"/>
</div>
<div id="result">请使用手机扫码</div>
</body>
<script >
 $(function(){
  var uuid = $("#uuid").val();
  var http="http://"+$("#http").val();
  //测试环境为启动所在的无线IP地址
  var content = http+"/QR/scanLogin?uuid="+uuid;
  //console.dir(content);
  $('.pc_qr_code').qrcode({
   render:"canvas",
   width:200,
   height:200,
   correctLevel:0,
   text:content,
   background:"#ffffff",
   foreground:"black",
   src:"/logo.png"
  });
  setCookie("sid", 123, -1*60*60*1000);
  keepPool();//自动循环调用
 });

 function keepPool(){
  var uuid = $("#uuid").val();
  $.get("/QR/getpool",{uuid:uuid,},function(msg){//如果放入一个不存在的网址怎么办?
   console.log(msg);
   if(msg.successFlag == '1'){
    $("#result").html("扫码成功");
    setCookie(msg.data.cname, msg.data.cvalue, 3*60*60*1000);
    console.log("将跳转...")
    window.location.href = "/QR/success";
   }else if(msg.successFlag == '0'){
    $("#result").html("该二维码已经失效,请重新获取");
   }else{
    keepPool();
   }

  });
 }

 //设置cookie
 function setCookie(cname, cvalue, expireTime) {
  var d = new Date();
  d.setTime(d.getTime() + expireTime);//设置过期时间
  var expires = "expires="+d.toUTCString();
  var path = "path=/"
  document.cookie = cname + "=" + cvalue + "; " + expires + "; " + path;
 }
</script>
</html>