<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <link rel="stylesheet" th:href="@{/layUI/css/layui.css}">
 <title>YOUNG-DEMO</title>
</head>
<body>
<table  >
<tr>
  <td width="80px">添加标题：</td>
  <td><input type="text" id="title_name" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input"></td>
</tr>
 <tr>
   <td width="80px">添加评论：</td>
   <td width="280px"><textarea id ="remark"  name="remark"  placeholder="请输入内容" class="layui-textarea"></textarea></td>
 </tr>

</table>
</body>
</html>