<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <title>登峰造極</title>
 <link rel="stylesheet" th:href="@{/layUI/css/layui.css}">
 <link rel="stylesheet" th:href="@{/layUI/css/modules/layer/default/layer.css}">
 <script type="text/javascript"   th:src="@{/js/util/jquery.js}"></script>
 <script type="text/javascript"   th:src="@{/js/util/jquery.min.js}"></script>
 <script type="text/javascript"   th:src="@{/layUI/lay/modules/element.js}"></script>
 <script type="text/javascript"   th:src="@{/layUI/layui.js}"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
 <legend th:text="'尊敬的 '+${user.aliasName}+' 用户'"></legend>
</fieldset>

<div class="fly-panel fly-panel-user" pad20="">
 <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
    <div id="LAY_minemsg" style="margin-top: 10px;">
     <!--<div class="fly-none">您暂时没有最新消息</div>-->
     <ul class="mine-msg" th:each="c: ${lc}" >
      <li data-id="123">
       <blockquote class="layui-elem-quote"  th:text="'用户 '+${c.alias_name}+'回复了你：'+${c.remark}">
       </blockquote>
       <p align="right"><span th:text="${c.DAY}+'天以前'"></span>
        <!--<a href="javascript:;" class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a>-->
       </p>
       <hr class="layui-bg-green">
      </li>
     </ul>
    </div>
 </div>
</div>

</body>
</html>